# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg
.env

# Node / Angular
node_modules/
dist/
.angular/
*.js.map
package-lock.json

# Database
*.sql
*.dump

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
*.log
logs/

# Airflow
airflow/logs/*
!airflow/logs/.gitkeep
airflow/plugins/__pycache__/
airflow/dags/__pycache__/